/ml_classification/data/libriphone/
ml_classification/model/deepLearning/__pycache__/BasicBlock.cpython-311.pyc
ml_classification/model/deepLearning/__pycache__/BidirectionalGRUClassifier.cpython-311.pyc
ml_classification/model/deepLearning/__pycache__/MLPClassfier.cpython-311.pyc
ml_classification/model/deepLearning/__pycache__/simpleBaseline.cpython-311.pyc
ml_classification/scripts/runs/Nov11_01-50-43_CrystalBook/events.out.tfevents.1699638643.CrystalBook.9404.0
ml_classification/scripts/runs/Nov11_01-48-33_CrystalBook/events.out.tfevents.1699638513.CrystalBook.12812.0
ml_classification/scripts/runs/Nov11_01-47-38_CrystalBook/events.out.tfevents.1699638458.CrystalBook.26232.0
ml_classification/scripts/runs/Nov11_01-45-41_CrystalBook/events.out.tfevents.1699638341.CrystalBook.10416.0
ml_classification/scripts/runs/Nov11_01-34-43_CrystalBook/events.out.tfevents.1699637683.CrystalBook.21684.0
ml_classification/scripts/runs/Nov11_01-26-59_CrystalBook/events.out.tfevents.1699637219.CrystalBook.17440.0
ml_classification/scripts/runs/Nov11_01-24-25_CrystalBook/events.out.tfevents.1699637065.CrystalBook.14984.0
ml_classification/scripts/runs/Nov11_01-07-00_CrystalBook/events.out.tfevents.1699636020.CrystalBook.13056.0
ml_classification/scripts/runs/Nov11_00-44-00_CrystalBook/events.out.tfevents.1699634640.CrystalBook.23632.0
ml_classification/scripts/runs/Nov11_00-27-38_CrystalBook/events.out.tfevents.1699633658.CrystalBook.26836.0
ml_classification/scripts/runs/Nov11_00-14-26_CrystalBook/events.out.tfevents.1699632866.CrystalBook.24148.0
ml_classification/scripts/runs/Nov11_00-06-05_CrystalBook/events.out.tfevents.1699632365.CrystalBook.25780.0
ml_classification/scripts/runs/Nov10_23-56-04_CrystalBook/events.out.tfevents.1699631764.CrystalBook.4452.0
ml_classification/scripts/runs/Nov10_23-41-50_CrystalBook/events.out.tfevents.1699630910.CrystalBook.23600.0
ml_classification/scripts/runs/Nov10_23-28-16_CrystalBook/events.out.tfevents.1699630096.CrystalBook.4452.0
ml_classification/scripts/runs/Nov10_21-28-28_CrystalBook/events.out.tfevents.1699622908.CrystalBook.24508.0
ml_classification/scripts/runs/Nov10_21-26-17_CrystalBook/events.out.tfevents.1699622777.CrystalBook.18488.0
ml_classification/scripts/runs/Nov10_21-25-48_CrystalBook/events.out.tfevents.1699622748.CrystalBook.29120.0
ml_classification/scripts/runs/Nov10_21-24-49_CrystalBook/events.out.tfevents.1699622689.CrystalBook.16396.0
ml_classification/scripts/runs/Nov10_21-24-05_CrystalBook/events.out.tfevents.1699622645.CrystalBook.6500.0
ml_classification/scripts/runs/Nov10_21-05-40_CrystalBook/events.out.tfevents.1699621540.CrystalBook.32680.0
ml_classification/scripts/runs/Nov10_21-00-24_CrystalBook/events.out.tfevents.1699621224.CrystalBook.19564.0
ml_classification/scripts/runs/Nov10_20-57-48_CrystalBook/events.out.tfevents.1699621068.CrystalBook.27156.0
ml_classification/scripts/runs/Nov10_20-53-42_CrystalBook/events.out.tfevents.1699620822.CrystalBook.26024.0
ml_classification/scripts/runs/Nov10_20-49-02_CrystalBook/events.out.tfevents.1699620542.CrystalBook.19192.0
ml_classification/scripts/runs/Nov10_20-48-01_CrystalBook/events.out.tfevents.1699620481.CrystalBook.13024.0
ml_classification/scripts/runs/Nov10_20-40-43_CrystalBook/events.out.tfevents.1699620043.CrystalBook.33928.0
ml_classification/scripts/runs/Nov10_20-37-39_CrystalBook/events.out.tfevents.1699619859.CrystalBook.19488.0
ml_classification/scripts/runs/Nov10_20-24-50_CrystalBook/events.out.tfevents.1699619090.CrystalBook.25260.0
ml_classification/scripts/runs/Nov10_17-58-03_CrystalBook/events.out.tfevents.1699610283.CrystalBook.26412.0
ml_classification/scripts/runs/Nov10_18-02-12_CrystalBook/events.out.tfevents.1699610532.CrystalBook.23284.0
ml_classification/scripts/runs/Nov10_18-03-26_CrystalBook/events.out.tfevents.1699610606.CrystalBook.17920.0
ml_classification/scripts/runs/Nov10_18-18-15_CrystalBook/events.out.tfevents.1699611495.CrystalBook.4728.0
ml_classification/scripts/runs/Nov10_18-24-41_CrystalBook/events.out.tfevents.1699611881.CrystalBook.27220.0
ml_classification/scripts/runs/Nov10_18-25-40_CrystalBook/events.out.tfevents.1699611940.CrystalBook.8872.0
ml_classification/scripts/runs/Nov10_19-33-46_CrystalBook/events.out.tfevents.1699616026.CrystalBook.33004.0
ml_classification/scripts/runs/Nov10_19-42-52_CrystalBook/events.out.tfevents.1699616572.CrystalBook.21016.0
ml_classification/scripts/runs/Nov10_19-48-32_CrystalBook/events.out.tfevents.1699616912.CrystalBook.21420.0
ml_classification/scripts/runs/Nov10_19-58-48_CrystalBook/events.out.tfevents.1699617528.CrystalBook.10872.0
ml_classification/scripts/runs/Nov10_20-10-41_CrystalBook/events.out.tfevents.1699618241.CrystalBook.30832.0
ml_classification/scripts/runs/Nov10_20-14-31_CrystalBook/events.out.tfevents.1699618471.CrystalBook.13680.0
ml_classification/scripts/runs/Nov10_20-18-28_CrystalBook/events.out.tfevents.1699618708.CrystalBook.21124.0
